.button {
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background: #81b3d2;
  padding: 16px 49px;
  text-decoration: none;
  text-align: center;
  border: none;
}
