.hero {
  text-align: center;
}

.hero__wrapper {
  background-image: url("/source/img/background-sedona.jpg");
  background-position: center;
}

.hero__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 32px 18px 35px 18px;
}

.hero__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 18px 32px 18px;
}
