.main-header {
  background: #ffffff;
  display: flex;
  padding: 0 11px 0 67px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  text-align: center;
}
