.tips-list {
  background: @white;
  color: @darkgrey;
  margin: 0;
  padding: 23px 18px 46px 65px;
}

.tips-list__item {
  color: @black;
  list-style-type: none;
  text-align: left;
  margin-bottom: 25px;
}

.tips-list__title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 8px 0 16px 0;
}

.tips-list__description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .tips-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-around;
    width: 100%;
  }

  .tips-list__item {
    box-sizing: border-box;
    width: 256px;
    padding: 158px 33px 60px 33px;
    margin: 0;
    text-align: center;
  }

  .tips-list__title {
    padding-bottom: 26px;
    margin: 0;
  }

  .tips-list__description {
    padding: 0;
    margin: 0;
    color: @darkgrey;
  }
}

@media (min-width: @desktop-width) {
  .tips-list__item {
    box-sizing: border-box;
    width: 330px;
    padding: 169px 50px 69px 50px;
    margin: 0;
    text-align: center;
  }

  .tips-list__title {
    padding-bottom: 30px;
    margin: 0;
  }

  .tips-list__description {
    padding: 0;
    margin: 0;
  }
}
