.comment {
  text-align: center;
}

.comment__textarea {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  opacity: 30%;
  background: #f2f2f2;
  border: none;
  min-width: 279px;
  min-height: 150px;
  resize: none;
}
