.form__fieldset {
  border: none;
  padding: 24px 20px;
  margin: 0;
}

.form__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__confirm {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 56px 20px 22px 20px;
}

.form__necessary {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 3px;
  align-self: flex-end;
  text-transform: uppercase;
  opacity: 60%;
}
