.post__picture {
  width: 280px;
  height: 375px;
}

.post__title {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  margin: 15px 0 0 0;
  text-transform: uppercase;
}

.post__description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 21px 0 16px 0;
}

.post__likes {
  font-family: "PT Sans Bold", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  margin: 0 0 0 37px;
}
